html, body {
    background-color: #FFF;
    height: 100%;
    padding: 0;
    margin: 0;
}

.container, .content {
    height: 100%;
}

.poi-generator {
    width: 700px;
    margin: 5em auto;
}

.container {
  display: flex;
  flex-grow: columns;
}

.container .menu {
  position: relative;
  width: 100px;
  visibility: visible;
}

.ui.left.sidebar {
  transform: initial;
  -webkit-transform: initial;
}

.content {
  flex-grow: 1;
}
