.map-container {
    height: 100%;
}

#map {
    width: 100%;
    height: 100%;
}

.map-container .sidebar {
    background: #fff;
}

.map-container .sidebar .form {
    padding: 0.5em;
}

.user .content {
    display: inline;
}
.user a {
    visibility: hidden;
    float: right;
}

.user:hover a {
    visibility: visible;
}
